.btn {
    border-radius: 0;
    font-size: 14px;
    font-weight: bold;
    font-family: $font-primary;
    line-height: 30px;
    min-width: 202px;
}

.btn-primary {
    background-color: $color-cornflower-blue;
}
