footer {
    p {
        background-color: $color-ship-gray;
        color: $color-white;
        font-size: 12px;
        font-family: $font-secondary;
        font-weight: bold;
        margin: 0;
        padding: 10px 0;
        text-align: center;
        text-transform: uppercase;
    }
}
