// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
@include media-breakpoint-up(sm) {
  
}
@include media-breakpoint-up(md) {
  
}
@include media-breakpoint-up(lg) {
  
}
@include media-breakpoint-up(xl) {
  
}

// Example: Hide starting at `min-width: 0`, and then show at the `sm` breakpoint
// .intro {
//   background-image: url('../images/intro-bg@3x.jpg');
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
//   color: $color-white;

//   .container {
//     align-items: flex-end;
//     display: flex;
//     height: 520px;
//   }

//   .wrapper {
//     margin-bottom: 100px;
//   }

//   h1 {
//     font-family: $font-secondary;
//     font-weight: bold;
//     font-size: 70px;
//   }

//   .hello-tooltip {
//     font-family: $font-secondary;
//     font-size: 38px;
//     height: 55px;
//     margin-bottom: 10px;
//     width: 103px;
//   }
// }

.intro {
  background-image: url('../images/intro-bg@3x.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: $color-white;

  .container {
    align-items: flex-end;
    display: flex;
    height: 680px;
  }

  .wrapper {
    margin-bottom: 200px;
  }

  h1 {
    font-family: $font-secondary;
    font-weight: bold;
    font-size: 70px;
  }

  .hello-tooltip {
    font-family: $font-secondary;
    font-size: 38px;
    height: 55px;
    margin-bottom: 10px;
    width: 103px;
  }
}

@include media-breakpoint-up(sm) {

}