.intro {
  background-image: url('../images/intro-bg@3x.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $color-white;
  .container {
    align-items: flex-end;
    display: flex;
    height: 520px;
  }
  .wrapper {
    margin-bottom: 100px;
  }
  h1 {
    font-family: $font-secondary;
    font-weight: bold;
    font-size: 70px;
  }
  p {
    color: $color-silver;
    font-family: $font-primary;
    font-size: 20px;
  }
}
