// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
@include media-breakpoint-up(sm) {
  
}
@include media-breakpoint-up(md) {
  
}
@include media-breakpoint-up(lg) {
  
}
@include media-breakpoint-up(xl) {
  
}

// .who-am-i {
//   background-image: url('../images/who-am-i@3x.png');
//   background-repeat: no-repeat;
//   background-position: center right;
//   background-size: 560px auto;

//   align-items: center;
//   display: flex;
//   height: 680px;
// }

.who-am-i {
  .container {
    height: 670px;
  }
  
  .my-face {
    margin-bottom: 40px;
  }

  p {
    text-align: justify;
    margin-bottom: 40px;
  }

  .btn {
    width: 100%;
    text-align: center;
  }
}

@include media-breakpoint-up(sm) {

}
