.who-am-i {
  background-image: url('../images/who-am-i@3x.png');
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 560px auto;

  align-items: center;
  display: flex;
  height: 700px;
}
